.movies-list {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .collection-item {
    display: flex;
    @media (max-width: 767px) {flex-direction: column;} //mobile
    @media (max-width: 1023px) {width: 100vw;} //tablet
    @media (min-width: 1024px) {width: 60vw;} //laptop, desktop+
    img {
      height: 280px;
      margin-right: 5px;
      align-self: center; }
    .error-poster {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-self: center;
      width: 245px;
      text-align: center; }
    .description {
      display: flex;
      flex-direction: column;
      align-self: center;
      align-items: center;
      align-content: center;
      text-align: center;
      width: 100%;
      span {
        margin-top: 10px;
        text-decoration: underline;
        cursor: pointer; }
      .details {
        width: 100%;
        h6, p {animation: slideDown 0.2s;}
        h6:last-of-type {
          @media (max-width: 424px) { font-size: 10px; } }  //mobile medium-
        ul { display: inline; }
        li { display: inline; } } } } }

.empty {
  color: grey;
  text-align: center;
  margin-top: 100px; }

@keyframes slideDown {
  from { line-height: 1px; }
  to { line-height: 18px; } }
