.search-bar {
  display: flex;
  height: 100px;
  width: 100vw;
  ul {
    align-items: center;
    i { font-size: 48px; }
    li {
      a {
        font-size: 24px;
        font-weight: 600;
        padding-top: 15px;
        margin-right: 10px;
        height: 100px; } }
    .search-input {
      padding-top: 10px;
      font-size: 24px;
      font-weight: 600;
      height: 40px;
      width: 30%; }
    .search-button {
      margin-left: 10px;
      margin-bottom: 15px;
      font-size: 18px;
      font-weight: 600; }
    .language-select {
      position: absolute;
      right: 20px;
      width: 10%;
      padding-top: 15px;
      div { padding-left: 15px; }
      .caret { color: white; left: 0;}
      .select-dropdown {
        border: 0;
        font-size: 20px;
        font-weight: 500; } } } }
